#SQL

A partir de la base de données client ci-dessous, créer une **requête SQL** qui fournit :

1.   les noms de chaque catégorie,
2.   le chiffre d'affaire associé à cette catégorie,
3.   et le prix moyen pondéré des produits vendus pour cette catégorie.

Le chiffre d'affaire sera arrondi à l'unité la plus proche, et le prix moyen comportera 2 décimales.

Ce tableau devra être trié pour avoir les catégories avec le chiffre d'affaire le plus élevé en premier.


*** Voici le schéma de la base ***
*********************

![](https://github.com/murpi/wilddata/blob/master/quests/orders_schema.png?raw=true)




*** Voici les premières lignes attendues ***
*********************

Categories | Chiffre_d_affaire | Prix_moyen
- |:-: | -:
Beverages | 99465 | 43.45
Dairy Products | 69921 | 26.88
... | ... | ...

In [ ]:
import requests
import sqlite3
import pandas as pd
r = requests.get('https://github.com/murpi/wilddata/blob/master/quests/orders.db?raw=true')
open('orders.db', 'wb').write(r.content)
conn = sqlite3.connect('orders.db')
def SQL(script):
    global conn
    return pd.read_sql(script, conn)

In [ ]:
script_sql = """
SELECT categoryName, ROUND(SUM(quantity * price), - 1) AS total_CA, ROUND(SUM(quantity * price) / SUM(quantity), 2) AS moyenne
FROM categories
LEFT JOIN products ON categories.categoryID = products.categoryID
LEFT JOIN order_details ON products.productID = order_details.productID
GROUP BY categoryName
ORDER BY total_CA DESC;

"""


# Ne modifie rien ci-dessous pour obtenir le résultat de la requête
SQL(script_sql)

     CategoryName  total_CA  moyenne
0       Beverages   99465.0    43.45
1  Dairy Products   69921.0    26.88
2     Confections   54909.0    26.02
3    Meat/Poultry   51677.0    40.12
4      Condiments   35072.0    25.36
5         Seafood   29652.0    20.52
6         Produce   23401.0    32.73
7  Grains/Cereals   22328.0    24.48

# Tableur

Le responsable du reporting mensuel est absent, et il faut absolument envoyer le reporting de chiffre d'affaire (quantité * prix de chaque produit) aujourd'hui... mais impossible de remettre la main sur le fichier du mois dernier !

Heureusement, tu as trouvé comment extraire les données, [tu les trouveras ici.](https://docs.google.com/spreadsheets/d/1T7zh6Swn4Yj8Feu-xcp-B7xeOQfBoBSWn7sRjx07GvI/edit?usp=sharing)

Tu vas maintenant devoir recréer un graphique qui ressemblera au maximum à celui-ci, mais en incluant les données du dernier mois. Tu en profiteras pour ajouter l'affichage des mois sous les colonnes. Tu essaieras au maximum d'utiliser les tableaux croisés dynamiques pour faire ça.

Tu incluras l'image du graphique dans ce notebook, et tu indiqueras également le lien de ton google spreadsheet (ou MS Excel online) que tu auras pris soin de partager.

![Tableur checkpoint](https://github.com/murpi/wilddata/raw/master/checkpoint1_withoutdate.png)

![Sylvain_Checkpoint_GoogleSheet.png](
  
)

https://docs.google.com/spreadsheets/d/1TOfJpB6Deca4G1DMWO--DAj7DBAQkVyfxk4mStzmj8k/edit?usp=sharing

# Python : Algo 1

Tu veux créer un script qui te dit comment t'habiller en fonction de la météo du jour :

## 1.1 Température
* S'il fait strictement plus de 19 degrés,  le script doit afficher "Prends un t-shirt"
* S'il fait entre 12 et 19 degrés inclus, le script doit afficher "Prends un pull"
* S'il fait strictement moins de 12 degrés, le script doit afficher "Prends un manteau"

La variable température contiendra un nombre entier (nous avons mis `14` par défaut, n'hésite pas à modifier cette valeur pour tester)

In [ ]:
temperature = int(input())
if temperature > 19:
  print("Prends un T-Shirt")
elif 12 < temperature < 19:
  print("Prends un pull")
elif temperature < 12:
  print("Prends un manteau")

14
Prends un pull

## 1.2 Pluie

Tu va recopier ton script de la question précédente (1.1) et le modifier pour intégrer la contrainte suivante :
* Si la variable `pluie` vaut "YES", alors le script affiche "Prends un manteau", quelle que soit la température.

In [ ]:
temperature = int(input())
pluie = input()
if (pluie == "yes" or pluie == "YES") or temperature < 12:
  print("Prends un manteau")
elif temperature > 19 and (pluie != "yes" or pluie != "YES"):
  print("Prends un T-Shirt")
elif 12 < temperature < 19 and (pluie != "yes" or pluie != "YES"):
  print("Prends un pull")

14
no
Prends un pull

## 1.3 Opérateurs logique

Essaye d'écrire le script précédent (1.2) en utilisant au maximum une seule fois la commande `if` et au maximum une seule fois la commande `elif`.

In [ ]:
temperature = int(input())
pluie = input()
if (pluie == "yes" or pluie == "YES") or temperature < 12:
  print("Prends un manteau")
elif temperature > 19 and (pluie != "yes" or pluie != "YES"):
  print("Prends un T-Shirt")
else:
  print("Prends un pull")

14
no
Prends un pull

# Python : Algo 2

Un magasin importe des produits américains et les revend sur le marché européen. Il propose à ses clients un discount pour les produits les plus chers (10% de réduction à partir de 500 euros d'achat, 15% à partir de 1000 euros, et 20% à partir de 2000 euros).

Le magasin a une liste de prix en dollars et fait appel à tes services pour déterminer pour chaque prix, le montant que paiera le client en euros (après application de la remise).

In [10]:
def ristourne(achat):
  if 500 < achat < 1000:
    prix_a_payer = achat - (achat * (10/100))
    print(f"Le client bénéficie d'une réduction de 10 % et devra payer {prix_a_payer} €")
  elif 1000 < achat < 2000:
    prix_a_payer = achat - (achat * (15/100))
    print(f"Le client bénéficie d'une réduction de 15 % et devra payer {prix_a_payer} €")
  elif 2000 < achat:
    prix_a_payer = achat - (achat * (20/100))
    print(f"Le client bénéfiie d'une réduction de 20 % et devra payer {prix_a_payer} €")
  else:
    print("Le client ne bénéficie pas d'une réduction")

achat = int(input())
reduction = ristourne(achat)
print(ristourne)

725
Le client bénéficie d'une réduction de 10 % et devra payer 652.5 €
<function ristourne at 0x7fc53f7c1f30>

## Python 2.1 dollar_to_euro
Crée une fonction `dollar_to_euro` qui prend en paramètre un nombre décimal et retourne le montant converti en euro (dans le sens dollar vers euro, prends le taux en vigueur le jour du checkpoint).

In [9]:
def dollar_to_euros(number):
  taux_de_change = 0.93
  conversion = number * taux_de_change
  return conversion

number = float(input())
result = dollar_to_euros(number)
print(result)

122.32
113.7576

## Python 2.2 discount
Crée une fonction `discount` qui prend en paramètre un nombre décimal et retourne le pourcentage de réduction :
- 0.10 si l'argument est supérieur à 500
- 0.15 si l'argument est supérieur à 1000
- 0.20 si l'argument est supérieur à 2000

In [18]:
def discount(achat):
  if 500 < achat < 1000:
    reduction = 10/100
    return reduction
  elif 1000 < achat < 2000:
    reduction = 15/100
    return reduction
  elif 2000 < achat:
    reduction = 20/100
    return reduction
  else:
    return 0.00

achat = float(input())
reduction = int(discount(achat) * 100)
print(f"{reduction} %")

725
10 %

## Python 2.3 Utilisation
Utilise tes deux fonctions pour **afficher une phrase** pour chacun des montants de cette liste de prix en dollars, indiquant le montant à payer en euros.
Tu dois donc appliquer d'abord la fonction de conversion pour obtenir des euros, puis la fonction de discount, puis afficher une phrase à partir du résultat.

In [15]:
price_list = [256, 1458, 2387, 669, 508, 1365]

for i in price_list:
  #final_list = []
  dollar = float(i)
  montant_en_euros = dollar_to_euros(dollar)
  reduction = discount(montant_en_euros) * 100
  prix_final = round(montant_en_euros * (1 - reduction), 2)
  #final_list.append(round(prix_final))
  print(f"{i} dollars nous donnent {prix_final} euros après une réduction de {reduction} %")

256 dollars nous donnent 238.08 euros après une réduction de 0.0 %
1458 dollars nous donnent -18983.16 euros après une réduction de 15.0 %
2387 dollars nous donnent -42178.29 euros après une réduction de 20.0 %
669 dollars nous donnent -5599.53 euros après une réduction de 10.0 %
508 dollars nous donnent 472.44 euros après une réduction de 0.0 %
1365 dollars nous donnent -17772.3 euros après une réduction de 15.0 %

# Python : Algo 3

Ecris une fonction *monnaie_a_rendre()* qui prend deux arguments obligatoires :
- montant de l'achat : float, supérieur à 0
- monnaie du client : integer, supérieur à 0

La fonction devra afficher la monnaie à rendre au client en un minimum de billets/pièces.

Attention, si la monnaie du client est insuffisante (inférieure à l'achat), il faudra l'indiquer.

Exemple :


```
monnaie_a_rendre(26.57 , 40)
>>> Nb billets 10 euros : 1
>>> Nb pièces 2 euros : 1
>>> Nb pièces 1 euro : 1
>>> Nb pièces 20 cents : 2
>>> Nb pièces 2 cents : 1
>>> Nb pièces 1 cent : 1
```

In [19]:
#votre code
def monnaie_a_rendre(montant_achat, monnaie_client):
  if monnaie_client < montant_achat:
    print("Le client n'a pas assez d'argent pour son achat")
    return

  valeurs = [10, 2, 1, 0.20, 0.02, 0.01]
  noms = ["Billets de 10 €", "Pièces de 2 €", "Pièces de 1 €", "Pièces de 20 cents", "Pièces de 2 cents", "Pièces de 1 cent"]
  monnaie_a_rendre = monnaie_client - montant_achat
  print(monnaie_a_rendre)

  for valeur, nom in zip(valeurs, noms):
    nb_billets_pieces = int(monnaie_a_rendre // valeur)
    monnaie_a_rendre -= nb_billets_pieces * valeur
    if nb_billets_pieces > 0:
      print(f"{nb_billets_pieces} {nom}")

montant_achat = float(input())
monnaie_client = int(input())
rendu = monnaie_a_rendre(montant_achat, monnaie_client)

276
300
24.0
2 Billets de 10 €
2 Pièces de 2 €